<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/reports.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Automated CBC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/reports">Reports</a>
        </li>
        <form action="/logout" method="get">
        <button class="btn btn-success" type="submit">Logout</button>
        </form>
        </ul>
    </div>
  </div>
</nav>


<div class="back"></div>
<h1 class="title">Reports</h1>
<% if @reports2 %>
<% @reports2.each do |n| %>
<div class="report">
<p>RBCs Count: <%= n.rbc_count %> | WBCs Count: <%= n.wbc_count %> | PLatelets Count: <%= n.plat_count %></p>
<p>Date: <%= n.created_at %></p>
<p>Comment: <%= n.comment	 %></p>
<% @doctor = @users.find(n.doc_id) %>
<p id="doctor">Doctor: <%= @doctor.name	 %> </p>
<hr>
</div>
<% end %>
<% else %>
<div class="message">There are no reports yet</div>
<% end %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>